[Unit]
Description=Gunicorn instance to serve ZillowGHLIntegration
After=network.target

[Service]
User=johnborelli
Group=johnborelli
WorkingDirectory=/var/www/html
Environment="PATH=/var/www/html/venv/bin"
ExecStart=/var/www/html/venv/bin/gunicorn --workers 3 --bind unix:zillow-ghl.sock -m 000 main:app

[Install]
WantedBy=multi-user.target
